FRONTEND_PORT=3000
BACKEND_PORT=8080
MYSQL_HOST_PORT=3307

MYSQL_DATABASE=internship_matching
MYSQL_ROOT_PASSWORD=root

DB_USERNAME=oppzy
DB_PASSWORD=root


JWT_SECRET=OppzyJWTSecretKey2026VeryLongSecureRandomKey123456789ABCDEF

JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000


CORS_ORIGINS=http://localhost:3000,http://localhost:5173


ADMIN_EMAIL=admin@ewubd.edu
ADMIN_PASSWORD=Admin@12345
